@tailwind base
@tailwind components
@tailwind utilities

::-webkit-scrollbar
  width: 0

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

.hero-landing
  background: linear-gradient(to right, #40404015, #40404015), url(../assets/hero.webp)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.auth-landing
  background: linear-gradient(to right, #40404015, #40404015), url(../assets/login.webp)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-attachment: fixed

._2IvMF,
._GzYRV
  border-radius: 0.5rem
  padding: 1rem
  background: #f1f5f9 !important

.prompt-input
  height: 3rem
