# compiled output
/dist
node_modules
.env
apps/client/.next
apps/client/.vercel
apps/client/*.tsbuildinfo
apps/client/out
apps/uiapp/.next
apps/uiapp/.vercel
apps/uiapp/*.tsbuildinfo
apps/uiapp/out
.vercel
dist
api/build