$mainColor: #1a1a1f
$white: #ffffff

.token-card
  background: $white !important
  color: $mainColor
  border-radius: 1rem !important
  border: none
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px
  animation: transitionIn 0.4s forwards

.token-card-header
  background: $white !important
  border-radius: 1rem 1rem 0 0 !important
  border: none !important
  text-align: center
  padding: 1rem 1rem 0 1rem !important

.token-card-footer
  background: $white !important
  border-radius: 0 0 1rem 1rem !important
  border: none !important

.token-card-body
  background: $white !important
  border: none !important

@mixin categoryContainer
  height: 4.5rem
  width: 100%
  border-radius: 1rem
  transition: transform 0.75s ease
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.btContainer
  background: url(../_assets/tokens/BT.png)
  @include categoryContainer

.stContainer
  background: url(../_assets/tokens/ST.png)
  @include categoryContainer

.gtContainer
  background: url(../_assets/tokens/GT.png)
  @include categoryContainer

.rtContainer
  background: url(../_assets/tokens/RT.png)
  @include categoryContainer

.etContainer
  background: url(../_assets/tokens/ET.png)
  @include categoryContainer

.dtContainer
  background: url(../_assets/tokens/DT.png)
  @include categoryContainer

.ptContainer
  background: url(../_assets/tokens/PT.png)
  @include categoryContainer
