$navColor: #ffffff
$textColor: #121212
$searchBoxColor: #f6f6f6

.navbar
  background: $navColor
  z-index: 2

.navbar-brand
  font-size: 1.2rem
  margin-right: 1.5rem
  cursor: pointer
  color: $textColor
  letter-spacing: 0.05rem

.nav-item
  margin-right: 1.5rem
  cursor: pointer
  color: $textColor !important
  font-size: 0.85rem

.nav-item>a
  color: $textColor !important

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
  outline: none
  box-shadow: none

.header
  padding-bottom: 4.5rem

.navbar-toggler
  border: none

.icon-nav-toggle
  zoom: 170%
  color: $textColor

.header-search
  background: $searchBoxColor
  border: none
  color: $textColor
  padding: 0.6rem
  padding-left: 1.5rem
  outline: none
  border-radius: 0.7em
  width: 40rem
  margin-top: -0.9rem
  margin-bottom: -0.9rem

@media only screen and (max-width: 85rem)
  .header-search
    width: 35rem

@media only screen and (max-width: 80rem)
  .header-search
    width: 30rem

@media only screen and (max-width: 75rem)
  .header-search
    width: 25rem

@media only screen and (max-width: 70rem)
  .header-search
    width: 20rem

@media only screen and (max-width: 61.95rem)
  .header-search
    width: 100%
    margin-bottom: 0.5rem
    margin-top: 0.5rem
