$navColor: #ffffff
$textColor: #1c2b33
$searchBoxColor: #f6f6f6

.navbar
    background: $navColor
    z-index: 2
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px
    min-height: 4rem

.navbar-brand
    font-size: 0.94rem !important
    margin-right: 1.5rem
    cursor: pointer
    color: $textColor !important
    letter-spacing: 0.04rem

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
    outline: none
    box-shadow: none

.searchbar-navbar::placeholder
    color: $textColor !important

.header
    padding-bottom: 4.5rem

.navbar-toggler
    border: none
    font-size: 1rem

.navbar-toggler-icon
    background-image: url(../assets/svg/menu.svg)
