$mainColor: #1a1a1f
$white: #ffffff

.product-card
    background: transparent
    color: $white
    border-radius: 0.8rem !important
    border: none
    animation: transitionIn 0.4s forwards
    cursor: pointer
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

.product-card-header
    border-radius: 0.8rem 0.8rem 0 0 !important
    border: none !important
    text-align: center
    padding: 0 !important

.product-card-footer
    border-radius: 0 0 0.8rem 0.8rem !important
    border: none !important

.product-card-body
    border: none !important

@mixin categoryContainer
    height: 8rem
    width: 100%
    border-radius: 0.8rem 0.8rem 0 0
    transition: transform 0.5s ease
    background-size: cover
    background-position: center

.airlakeContainer
    background: linear-gradient(to top, #1a1a1fff, #1a1a1f30), url(../assets/images/airlake.jpg)
    @include categoryContainer

.evolakeContainer
    background: linear-gradient(to top, #1a1a1fff, #1a1a1f30), url(../assets/images/evolake.jpg)
    @include categoryContainer

.icelakeContainer
    background: linear-gradient(to top, #1a1a1fff, #1a1a1f30), url(../assets/images/icelake.jpg)
    @include categoryContainer

.snowlakeContainer
    background: linear-gradient(to top, #1a1a1fff, #1a1a1f30), url(../assets/images/snowlake.jpg)
    @include categoryContainer

.frostlakeContainer
    background: linear-gradient(to top, #1a1a1fff, #1a1a1f30), url(../assets/images/frostlake.jpg)
    @include categoryContainer

.productColor
    background: #1a1a1f !important
