$mainColor: #1a1a1f
$white: #ffffff

.product-card
    background: transparent
    color: $white
    border-radius: 0.8rem !important
    border: none
    animation: transitionIn 0.4s forwards
    cursor: pointer
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

.product-card-header
    border-radius: 0.8rem 0.8rem 0 0 !important
    border: none !important
    text-align: center
    padding: 0 !important

.product-card-footer
    border-radius: 0 0 0.8rem 0.8rem !important
    border: none !important

.product-card-body
    border: none !important

@mixin categoryContainer
    height: 8rem
    width: 100%
    border-radius: 0.8rem 0.8rem 0 0
    transition: transform 0.5s ease
    background-size: cover
    background-position: center

.airlakeContainer
    background: linear-gradient(to top, #070e18ff, #070e1800), url(../assets/images/airlake.jpg)
    @include categoryContainer

.airlakeColor
    background: #070e18 !important

.evolakeContainer
    background: linear-gradient(to top, #b7b9a0ff, #b7b9a000), url(../assets/images/evolake.jpg)
    @include categoryContainer

.evolakeColor
    background: #b7b9a0 !important

.icelakeContainer
    background: linear-gradient(to top, #a7b7c9ff, #a7b7c900), url(../assets/images/icelake.jpg)
    @include categoryContainer

.icelakeColor
    background: #a7b7c9 !important

.snowlakeContainer
    background: linear-gradient(to top, #c8ccbfff, #c8ccbf00), url(../assets/images/snowlake.jpg)
    @include categoryContainer

.snowlakeColor
    background: #c8ccbf !important

.frostlakeContainer
    background: linear-gradient(to top, #cdccd1ff, #cdccd100), url(../assets/images/frostlake.jpg)
    @include categoryContainer

.frostlakeColor
    background: #cdccd1 !important
