$white: #ffffff
$mainColor: #2b3336

.hero
  margin-bottom: 1rem
  background: $white
  color: $mainColor
  border-radius: 0.8rem
  word-break: break-all
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px
